<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>로그인</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet" />
  <link href="/css/font.css" rel="stylesheet" />
  <link href="/css/dashboard.css" rel="stylesheet" />
  <script src="/js/common.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="/js/login.js"></script>

</head>
<body>
<div id="LoadingBar">
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div id="maskLayer"> </div>
  <div id="loginBox" class="MainFont login-form">
    <form method="post" action="/doLogin">
      <input type="text" id="useremail" name="userId" class="text-field" placeholder="이메일">
      <input type="password" id="userPw" name="passwd" class="text-field" placeholder="비밀번호">
      <th:block th:if="${errorMsg == 'Y'}">
        <span style="color: red; text-align: center; font-size: 14px;">아이디와 패스워드가 일치하지 않습니다.</span>
      </th:block>
      <button type="submit" class="submit-btn">로그인</button>
    </form>
    <div>
      <button type="button" onclick="PageChange(SIGN_UP_PAGE)" class="submit-btn">회원가입</button>
    </div>
    <div class="links">
      <a href="#">비밀번호를 잊어버리셨나요?</a>
    </div>
  </div>
  <div id="signUpBox" class="MainFont signUp-form" style="display: none">
    <form>
      <input type="text" id="s_useremail" name="email" class="text-field" placeholder="이메일">
      <input type="password" id="s_userPw" name="password" class="text-field" placeholder="비밀번호">
      <input type="text" id="s_code" name="password" class="text-field" placeholder="인증번호">
      <input type="hidden" id="uuid">
      <button type="button"  class="submit-btn" onclick="EmailCheckSend()">인증요청</button>
      <button type="submit" onclick="PageChange(LOGIN_PAGE)" class="submit-btn">돌아가기</button>
    </form>
    <div>
      <button type="button" class="submit-btn" onclick="SignUp()">회원가입</button>
    </div>
  </div>
</body>
</html>